interactions:
- request:
    body: login=&xml=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/GetUserRealm.srf
  response:
    body:
      string: <RealmInfo Success="true"><State>4</State><UserState>1</UserState><Login>ICTD-SCS-DRP@unitst.onmicrosoft.com</Login><NameSpaceType>Managed</NameSpaceType><DomainName>unitst.onmicrosoft.com</DomainName><IsFederatedNS>false</IsFederatedNS><FederationBrandName>United
        Nations Children Fund UNICEF-5202203-UNICEF Test Tenant</FederationBrandName><CloudInstanceName>microsoftonline.com</CloudInstanceName><CloudInstanceIssuerUri>urn:federation:MicrosoftOnline</CloudInstanceIssuerUri></RealmInfo>
    headers:
      Content-Disposition:
      - inline; filename=userrealm.json
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
      http://www.w3.org/2005/08/addressing\" xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
      >\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n\
      \    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n\
      \    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n\
      \    <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <o:UsernameToken>\n        <o:Username>ICTD-SCS-DRP@unitst.onmicrosoft.com</o:Username>\n\
      \        <o:Password></o:Password>\n      </o:UsernameToken>\n    </o:Security>\n\
      \  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\"\
      >\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\
      >\n        <a:EndpointReference>\n          <a:Address>https://unitst.sharepoint.com</a:Address>\n\
      \        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference\
      \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n\
      \      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n\
      \      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n\
      \      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n  \
      \  </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2022-03-03T04:06:32.1598605Z</wsu:Created><wsu:Expires>2022-03-03T04:11:32.1598605Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://unitst.sharepoint.com</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2022-03-03T04:06:32Z</wsu:Created><wsu:Expires>2022-03-03T12:06:32Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAARBYEAhcDSo/v7Ge+1wc5/ndeF1opaah4XTpPbN4t7MadBvKrKtPB01geJ8UdU0RIpjSfAxPvQ5t0XEsGmvLqJ2dGdionPv6dkoStoSZCUZCiQxYqLk7xv+6e8qDZkKO0ysMz0kWI5fQYbpJ3n74iFifte6fuQzb4FLfySJ9wul87iTxVmUaUBfdPHNfFAr/lH+mGzIkRDuf4jO9ruu+cJVUFF750pPqNAHly/wUESgZR3WDQzb+IlQ65/2aTrKIDIo8sNHGSUdI3O/ucJ28R10HjFXbNSDwQmWSQ/qGhbub7BVmmWoIiXelfZl/y+AtXwa6AsRex/jnmWa788TEbRwDZgAACK2AV/KYFc1+yAG9MneMeQydV2cKW2JvSqERmAsVHNmjFwHAjWEWNae1UhiJnGFBEYKPCt+0VOVJQrqRhcTA3IIdNLjWnJOnmkTIXrmb5A6ZWAYC52C/B3hmfOl73+lqT7pU2rSCUXJ40YOpLewlgXJdTc7Ny02qDObymAZmjOG2PNxfIUbL036uG4cOcSyujfQU3dLbo02FZ6V+TEnoLwO1u7jVL/l9Cpgu2APy7ocWg9Y2be7tWqLUdF04PPvKA0/CS/jvBKoBKBK0pGOz80bULUkQs/h13J1+IoXwtPtCoO9VGieD3hIrlW0h8zltcpGnFf47l11YO8ifXPK8csieVd69hRGug7E0KHNEJMqUtUuWSjd1yrcFHeoIBe63aaayD4OsUypcEm6cCZ+OB7/mRSUupN/isOI8i027zZ4uukR2FkQviK0L7Ulzm2V2kjmemxUF3ypX5gvEenhZNmiZ673r5Av727YC9Dlm0EkQSO46f1js4qSU+eZQmfiCnDAhK3HZMjaityB5ty7EmzohjLekfLWTk4yAn+EBGfRv6/6DeAXLheTZDXWsBZ2I3fsNh54mnd1gCjItJuSQwDqvj2Ih3Rf0bQKRWuUI37Qknqg2Ag==&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="i+GUxfYtUHhUTE8sSQby/M6XrKA="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="i+GUxfYtUHhUTE8sSQby/M6XrKA="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAARBYEAhcDSo/v7Ge+1wc5/ndeF1opaah4XTpPbN4t7MadBvKrKtPB01geJ8UdU0RIpjSfAxPvQ5t0XEsGmvLqJ2dGdionPv6dkoStoSZCUZCiQxYqLk7xv+6e8qDZkKO0ysMz0kWI5fQYbpJ3n74iFifte6fuQzb4FLfySJ9wul87iTxVmUaUBfdPHNfFAr/lH+mGzIkRDuf4jO9ruu+cJVUFF750pPqNAHly/wUESgZR3WDQzb+IlQ65/2aTrKIDIo8sNHGSUdI3O/ucJ28R10HjFXbNSDwQmWSQ/qGhbub7BVmmWoIiXelfZl/y+AtXwa6AsRex/jnmWa788TEbRwDZgAACK2AV/KYFc1+yAG9MneMeQydV2cKW2JvSqERmAsVHNmjFwHAjWEWNae1UhiJnGFBEYKPCt+0VOVJQrqRhcTA3IIdNLjWnJOnmkTIXrmb5A6ZWAYC52C/B3hmfOl73+lqT7pU2rSCUXJ40YOpLewlgXJdTc7Ny02qDObymAZmjOG2PNxfIUbL036uG4cOcSyujfQU3dLbo02FZ6V+TEnoLwO1u7jVL/l9Cpgu2APy7ocWg9Y2be7tWqLUdF04PPvKA0/CS/jvBKoBKBK0pGOz80bULUkQs/h13J1+IoXwtPtCoO9VGieD3hIrlW0h8zltcpGnFf47l11YO8ifXPK8csieVd69hRGug7E0KHNEJMqUtUuWSjd1yrcFHeoIBe63aaayD4OsUypcEm6cCZ+OB7/mRSUupN/isOI8i027zZ4uukR2FkQviK0L7Ulzm2V2kjmemxUF3ypX5gvEenhZNmiZ673r5Av727YC9Dlm0EkQSO46f1js4qSU+eZQmfiCnDAhK3HZMjaityB5ty7EmzohjLekfLWTk4yAn+EBGfRv6/6DeAXLheTZDXWsBZ2I3fsNh54mnd1gCjItJuSQwDqvj2Ih3Rf0bQKRWuUI37Qknqg2Ag==&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://unitst.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - oCYCIXDQAMDn6wdq1QN0NA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '144'
      SPRequestGuid:
      - 210226a0-d070-c000-e7eb-076ad5037434
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-MS-SPO-CookieValidator:
      - UhhI0TeOd7jHOuNy8Mtq75zQqggZcy8bQIvAuPhJ8p4UpSEvUd1+cIBJL5aZ0sejq1ZABuMRxW++upGjCV999PdpQvR2Vo6mtks5s8sfXGBr5qyv3IFkvVzdXsYyWt+rdWC8IIZsApm/7jFvYwnOiGBApccHN9Y+bn13ptgjV6IcsJQV6p01suNInkEzgrOs6Ujdg5TGysS/XhnKJHvDIaV8KoFkdNs7kedac6kisPPJaxd02yo1TG1YiAuck6eX+GqnhtQK41D64w6o3ydrytQ2hHM2y+AeiUj16dCHEA6kDLT0HqlM4LInkAdc4EHeiS2Pcgu2czrKKseck6K7MA==
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/SitePages/HomeRedirect.aspx\">here</a>.</h2>\r\n</body></html>\r\
        \n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/HomeRedirect.aspx
      MS-CV:
      - oCYCIYJgAMDn6wemVXD2nA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '53'
      SPRequestGuid:
      - 210226a0-6082-c000-e7eb-07a65570f69c
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/SitePages/HomeRedirect.aspx
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        >\r\n\r\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n\
        <head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"\
        \ /><title>\r\n\tUntitled 1\r\n</title><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=10\" />\r\n<script type=\"text/javascript\">\r\n\tfunction\
        \ RedirectUser() {\r\n\t\twindow.location = \"../_layouts/15/sharepoint.aspx\"\
        ;\r\n\t}\r\n\twindow.load = RedirectUser();\r\n</script>\r\n</head>\r\n\r\n\
        <body>\r\n\r\n<form method=\"post\" action=\"./HomeRedirect.aspx\" id=\"form1\"\
        >\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\" value=\"\
        /wEPDwUBMGRk/KBEorcpGW6V78RED1QaEZvT21rQvPFT7UJPx4797ik=\" />\r\n\r\n<input\
        \ type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"\
        \ value=\"17E22E0C\" />\r\n</form>\r\n\r\n</body>\r\n\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Thu, 03 Mar 2022 04:06:32 GMT
      MS-CV:
      - oCYCIY0gAMDn6wLbSzk6Yg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '2'
      SPRequestDuration:
      - '82'
      SPRequestGuid:
      - 210226a0-208d-c000-e7eb-02db4b393a62
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020
        Certified Reports'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":56,"Name":"2020
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2020
        Certified Reports","TimeCreated":"2019-12-31T09:53:40Z","TimeLastModified":"2021-10-02T01:21:22Z","UniqueId":"55f679dd-a5db-49a1-8189-85e9b9e841f9","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Thu, 03 Mar 2022 04:06:33 GMT
      MS-CV:
      - oCYCIaeQAMDdyzES6PDnFQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPClientServiceRequestDuration:
      - '22'
      SPRequestGuid:
      - 210226a0-90a7-c000-ddcb-3112e8f0e715
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderById('55f679dd-a5db-49a1-8189-85e9b9e841f9')/Files
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020
        Certified Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')","type":"SP.File"},"Author":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/Author"}},"CheckedOutByUser":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/CheckedOutByUser"}},"EffectiveInformationRightsManagementSettings":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/EffectiveInformationRightsManagementSettings"}},"InformationRightsManagementSettings":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/InformationRightsManagementSettings"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/ListItemAllFields"}},"LockedByUser":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/LockedByUser"}},"ModifiedBy":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/ModifiedBy"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/Properties"}},"VersionEvents":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/VersionEvents"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf'')/Versions"}},"CheckInComment":"","CheckOutType":2,"ContentTag":"{96D67B75-58C0-4770-8B0A-01EEDE62DFFA},8,5","CustomizedPageStatus":0,"ETag":"\"{96D67B75-58C0-4770-8B0A-01EEDE62DFFA},8\"","Exists":true,"IrmEnabled":false,"Length":"59093","Level":1,"LinkingUri":null,"LinkingUrl":"","MajorVersion":6,"MinorVersion":0,"Name":"CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf","ServerRelativeUrl":"/sites/GLB-DRP/2020
        Certified Reports/CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf","TimeCreated":"2020-09-21T16:50:35Z","TimeLastModified":"2020-09-21T18:51:28Z","Title":"CertifiedDonorStatementFinal_CSACC_SC087525_31102020.pdf","UIVersion":3072,"UIVersionLabel":"6.0","UniqueId":"96d67b75-58c0-4770-8b0a-01eede62dffa"},{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020
        Certified Reports/CertifiedDonorStatement_DSTUN_SC140245_21082020.pdf'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports/CertifiedDonorStatement_DSTUN_SC140245_21082020.pdf'')","type":"SP.File"},"Author":[...]
