interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020
        Certified Reports'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":1225,"Name":"2020
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2020
        Certified Reports","TimeCreated":"2019-12-31T09:53:40Z","TimeLastModified":"2020-07-17T18:23:22Z","UniqueId":"55f679dd-a5db-49a1-8189-85e9b9e841f9","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 04 Aug 2020 20:28:24 GMT
      MS-CV:
      - n2zVYD5AAKDqCfBZ5VqwKw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20315
      SPClientServiceRequestDuration:
      - '21'
      SPRequestGuid:
      - 60d56c9f-403e-a000-ea09-f059e55ab02b
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/folders
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/Temporary
        InSight Reports Library'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/Temporary%20InSight%20Reports%20Library'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DR[...]
