interactions:
- request:
    body: login=ICTD-SCS-DRP@unitst.onmicrosoft.com&xml=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/GetUserRealm.srf
  response:
    body:
      string: <RealmInfo Success="true"><State>4</State><UserState>1</UserState><Login>ICTD-SCS-DRP@unitst.onmicrosoft.com</Login><NameSpaceType>Managed</NameSpaceType><DomainName>unitst.onmicrosoft.com</DomainName><IsFederatedNS>false</IsFederatedNS><FederationBrandName>United
        Nations Children Fund UNICEF-5202203-UNICEF Test Tenant</FederationBrandName><CloudInstanceName>microsoftonline.com</CloudInstanceName><CloudInstanceIssuerUri>urn:federation:MicrosoftOnline</CloudInstanceIssuerUri></RealmInfo>
    headers:
      Content-Disposition:
      - inline; filename=userrealm.json
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
      http://www.w3.org/2005/08/addressing\" xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
      >\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n\
      \    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n\
      \    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n\
      \    <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <o:UsernameToken>\n        <o:Username>ICTD-SCS-DRP@unitst.onmicrosoft.com</o:Username>\n\
      \        <o:Password>Jojo1013</o:Password>\n      </o:UsernameToken>\n    </o:Security>\n\
      \  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\"\
      >\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\
      >\n        <a:EndpointReference>\n          <a:Address>https://unitst.sharepoint.com</a:Address>\n\
      \        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference\
      \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n\
      \      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n\
      \      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n\
      \      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n  \
      \  </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2020-12-18T20:55:19.63806Z</wsu:Created><wsu:Expires>2020-12-18T21:00:19.63806Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://unitst.sharepoint.com</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2020-12-18T20:55:19Z</wsu:Created><wsu:Expires>2020-12-19T04:55:19Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwD4Ak6hBwAUu3WlSJuFiePYHT84hqUWDXcvpREAAaZ9Sx/WH9xwQAF775XW3w4avAkfA1ga6LfVSqldUgmbg3VTs4txt/ktzvuMChRTjvsaKKLHyKge5ys26CiRA0cWDpWpsOWUQSCXuk3nQltNQKdiTs5jEpJ6U/LB+F34gr3FdhVeUNCe/WNU1uDHH4rOJR/sBtEksbKV5mwBlOsR/RaBVYm5OYsh7OhMuwm5NwoCogXzBAHie66jFPt2cG5nDbV+qpU3aIT/CCJMYDHmXVTbleEwvZ8gAzlHRWB69iBlA4+MywpeNkVF0JzFh7ezTjxVWtniuOv8ysgLC0+cbZXb6QhALFPiu0riM1zzmm5hplJ1jVEbVofDWFjUiRgDZgAACP0dq/OYitI7yAGdQ3JQJoABXAVYNr8n2KE07+h8axQ0f64DAWuaECYy4wUrO7P+00Gb7iPJTDegIYt2Q2iJFUKZ/t78lqy0ipAkIoG+1cyq3+PSy/PSJomeTvwS9L7GjJviu2ArsBKWwweIIVI8DIUaPxRIB4iSdGJBdAoTm/8lsjCt+EChG2+FquwIxstzdyFwQ4Gs6Xy+R9LO8AWEvLt9TMiGRTU5fGtjzgGGfdT688AqIecvYYDeNxn1eTiC/M3jp+ju5xKM0LFH6pBMzDp5sSiXLk/E533090rO07Vs+QTwDLRdzY3UvbwumBCdK255Ac1/Db4PETCjXWA56mc81401v0UvUDz+qfIABryGnbOrlHw9rOu9jfMSYRbKwmRssVW4z0j+IFsYFdU6/h9WrKsxotEGUx2Af9/YZwKrAPWBLVAkeN2RMSiZuDLLmuLVk1n5bij3hIe0pFeoyWfTwGPufo6Fr8CwdYBTbPJvRelC09HiSYzKmDjvLtK3UpTUBnvy0ancDIuz4c617t89GNJzPWA0RSA1vcgZoKOobOB0Ztwt+oIjWHMfULHKy718J3GFga2iEdfrkZR7S1p2Kl0AdNxIOPtt8gSuIl/G1C03Ag==&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="k8aAMTBs6JiUkF1tf4U91RZHEzQ="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="k8aAMTBs6JiUkF1tf4U91RZHEzQ="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwD4Ak6hBwAUu3WlSJuFiePYHT84hqUWDXcvpREAAaZ9Sx/WH9xwQAF775XW3w4avAkfA1ga6LfVSqldUgmbg3VTs4txt/ktzvuMChRTjvsaKKLHyKge5ys26CiRA0cWDpWpsOWUQSCXuk3nQltNQKdiTs5jEpJ6U/LB+F34gr3FdhVeUNCe/WNU1uDHH4rOJR/sBtEksbKV5mwBlOsR/RaBVYm5OYsh7OhMuwm5NwoCogXzBAHie66jFPt2cG5nDbV+qpU3aIT/CCJMYDHmXVTbleEwvZ8gAzlHRWB69iBlA4+MywpeNkVF0JzFh7ezTjxVWtniuOv8ysgLC0+cbZXb6QhALFPiu0riM1zzmm5hplJ1jVEbVofDWFjUiRgDZgAACP0dq/OYitI7yAGdQ3JQJoABXAVYNr8n2KE07+h8axQ0f64DAWuaECYy4wUrO7P+00Gb7iPJTDegIYt2Q2iJFUKZ/t78lqy0ipAkIoG+1cyq3+PSy/PSJomeTvwS9L7GjJviu2ArsBKWwweIIVI8DIUaPxRIB4iSdGJBdAoTm/8lsjCt+EChG2+FquwIxstzdyFwQ4Gs6Xy+R9LO8AWEvLt9TMiGRTU5fGtjzgGGfdT688AqIecvYYDeNxn1eTiC/M3jp+ju5xKM0LFH6pBMzDp5sSiXLk/E533090rO07Vs+QTwDLRdzY3UvbwumBCdK255Ac1/Db4PETCjXWA56mc81401v0UvUDz+qfIABryGnbOrlHw9rOu9jfMSYRbKwmRssVW4z0j+IFsYFdU6/h9WrKsxotEGUx2Af9/YZwKrAPWBLVAkeN2RMSiZuDLLmuLVk1n5bij3hIe0pFeoyWfTwGPufo6Fr8CwdYBTbPJvRelC09HiSYzKmDjvLtK3UpTUBnvy0ancDIuz4c617t89GNJzPWA0RSA1vcgZoKOobOB0Ztwt+oIjWHMfULHKy718J3GFga2iEdfrkZR7S1p2Kl0AdNxIOPtt8gSuIl/G1C03Ag==&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://unitst.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - n5ic+KaQALDBFk5+TSodUw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20802
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '99'
      SPRequestGuid:
      - f89c989f-90a6-b000-c116-4e7e4d2a1d53
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '0'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/SitePages/HomeRedirect.aspx\">here</a>.</h2>\r\n</body></html>\r\
        \n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/HomeRedirect.aspx
      MS-CV:
      - n5ic+LFAALDBFkUPg78h8w.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20802
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '38'
      SPRequestGuid:
      - f89c989f-40b1-b000-c116-450f83bf21f3
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/SitePages/HomeRedirect.aspx
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        >\r\n\r\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n\
        <head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"\
        \ /><title>\r\n\tUntitled 1\r\n</title><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=10\" />\r\n<script type=\"text/javascript\">\r\n\tfunction\
        \ RedirectUser() {\r\n\t\twindow.location = \"../_layouts/15/sharepoint.aspx\"\
        ;\r\n\t}\r\n\twindow.load = RedirectUser();\r\n</script>\r\n</head>\r\n\r\n\
        <body>\r\n\r\n<form method=\"post\" action=\"./HomeRedirect.aspx\" id=\"form1\"\
        >\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\" value=\"\
        /wEPDwUBMGRk/mYhhy28PB9SGTTvolnugpWwSTF+VGeb3nCmsf98ptA=\" />\r\n\r\n<input\
        \ type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"\
        \ value=\"17E22E0C\" />\r\n</form>\r\n\r\n</body>\r\n\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Fri, 18 Dec 2020 20:55:20 GMT
      MS-CV:
      - n5ic+LkQALDBFkCGb9howA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20802
      SPIisLatency:
      - '1'
      SPRequestDuration:
      - '62'
      SPRequestGuid:
      - f89c989f-10b9-b000-c116-40866fd868c0
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020
        Certified Reports'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2020%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":56,"Name":"2020
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2020
        Certified Reports","TimeCreated":"2019-12-31T09:53:40Z","TimeLastModified":"2020-12-15T13:27:42Z","UniqueId":"55f679dd-a5db-49a1-8189-85e9b9e841f9","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Fri, 18 Dec 2020 20:55:20 GMT
      MS-CV:
      - n5ic+M2AALDBFkFRWoYVHA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20802
      SPClientServiceRequestDuration:
      - '17'
      SPRequestGuid:
      - f89c989f-80cd-b000-c116-41515a86151c
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/folders
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/Temporary
        InSight Reports Library'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/Temporary%20InSight%20Reports%20Library'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DR[...]
