interactions:
- request:
    body: login=ICTD-SCS-DRP@unitst.onmicrosoft.com&xml=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/GetUserRealm.srf
  response:
    body:
      string: <RealmInfo Success="true"><State>4</State><UserState>1</UserState><Login>ICTD-SCS-DRP@unitst.onmicrosoft.com</Login><NameSpaceType>Managed</NameSpaceType><DomainName>unitst.onmicrosoft.com</DomainName><IsFederatedNS>false</IsFederatedNS><FederationBrandName>United
        Nations Children Fund UNICEF-5202203-UNICEF Test Tenant</FederationBrandName><CloudInstanceName>microsoftonline.com</CloudInstanceName><CloudInstanceIssuerUri>urn:federation:MicrosoftOnline</CloudInstanceIssuerUri></RealmInfo>
    headers:
      Content-Disposition:
      - inline; filename=userrealm.json
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
      http://www.w3.org/2005/08/addressing\" xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
      >\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n\
      \    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n\
      \    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n\
      \    <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <o:UsernameToken>\n        <o:Username></o:Username>\n\
      \        <o:Password></o:Password>\n      </o:UsernameToken>\n    </o:Security>\n\
      \  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\"\
      >\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\
      >\n        <a:EndpointReference>\n          <a:Address>https://unitst.sharepoint.com</a:Address>\n\
      \        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference\
      \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n\
      \      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n\
      \      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n\
      \      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n  \
      \  </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2022-03-03T04:06:23.0831651Z</wsu:Created><wsu:Expires>2022-03-03T04:11:23.0831651Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://unitst.sharepoint.com</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2022-03-03T04:06:22Z</wsu:Created><wsu:Expires>2022-03-03T12:06:22Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAAel4a8/qaRn7HdFV0pt798JwUpC2NEBgSYoikJLINWJLNyRYh6F8aNzDRCq0ZuW8RytQLUx2OXMZUUiAJgFEex3uOnCMn6IkzY5qGFI/A9Ux8l5H5R70QtRPkoVvURvkmQEL8UWgXwdUEUKA0FqKVzEXzreAkTIYQiepvvQ1GhU1OZrBSTbgoPeQOTadqtfSIhxEffUn+t3DJrxZRbVDgSpiF0drrYxezRv26TQuoPApdiBomFqrd1esNuMzgRWHOdbWDtcixR09Ox3qfkO35Ic+XglU/LU4vF5SOKnYWWhy5wvkQP4W0sdUnZLFjmd3fMSPmcCMAk4/Rj0w9HP3yJ0DZgAACL9mUvtb8O5GyAE+jK19hSltKsrdEb+MvzsCsOWYheyufC7oM6T4n4+CU8GbrPYPYjDHtAahWgXPmccTsUk0jqlfLUMR6bmZ1IdlLVmP0fI0yk+5aTFe7U8q4vkMaSOjXJSoPcgiFgLmWvBSXe+mbqpaRaCDRWRmaCFVKOfvhHc68mWSrwKk+xRJr7xQoKqfefw9vYnnGb6ILBPH3QYIH75hrBavciTePpjPEGfyqlBJiY04JpsCsTPKyOKJP7iGMZImvbjdALJFw9rRPy3m3sGnuVndHv20wks+QH63owmHDd+WchoBKE7pfE+4ETVYRKGzYRbzTW7jj4ziS109IDYUpeoBJHch3w6aHhZ3du9tj3d9dD/P70SM5nQKap/GKDU/QTwVnmshcLEvMtYQUay5yBywRlLgEMUjLkET41wx9O2tEeYaXOj62ufhcZIDiG+E5beIr6Ruk6TVKq7BKtmsw0jfEjEzc61eAjWxTGO+ITZNJizRgQls9ybf8Tn66hMzV97Sz48uUBQri2s8boIdak9jbYZIKUBpbZFnr74M+P+TiOz9AXY2YA4Rxu08zprhjW+z+GOKWIS82qhHAoZfMWZ/KBhXyzlqSUJzntRS/ds2Ag==&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="LqrI6pUGamieHWZhOiogp79IfzU="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="LqrI6pUGamieHWZhOiogp79IfzU="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAAel4a8/qaRn7HdFV0pt798JwUpC2NEBgSYoikJLINWJLNyRYh6F8aNzDRCq0ZuW8RytQLUx2OXMZUUiAJgFEex3uOnCMn6IkzY5qGFI/A9Ux8l5H5R70QtRPkoVvURvkmQEL8UWgXwdUEUKA0FqKVzEXzreAkTIYQiepvvQ1GhU1OZrBSTbgoPeQOTadqtfSIhxEffUn+t3DJrxZRbVDgSpiF0drrYxezRv26TQuoPApdiBomFqrd1esNuMzgRWHOdbWDtcixR09Ox3qfkO35Ic+XglU/LU4vF5SOKnYWWhy5wvkQP4W0sdUnZLFjmd3fMSPmcCMAk4/Rj0w9HP3yJ0DZgAACL9mUvtb8O5GyAE+jK19hSltKsrdEb+MvzsCsOWYheyufC7oM6T4n4+CU8GbrPYPYjDHtAahWgXPmccTsUk0jqlfLUMR6bmZ1IdlLVmP0fI0yk+5aTFe7U8q4vkMaSOjXJSoPcgiFgLmWvBSXe+mbqpaRaCDRWRmaCFVKOfvhHc68mWSrwKk+xRJr7xQoKqfefw9vYnnGb6ILBPH3QYIH75hrBavciTePpjPEGfyqlBJiY04JpsCsTPKyOKJP7iGMZImvbjdALJFw9rRPy3m3sGnuVndHv20wks+QH63owmHDd+WchoBKE7pfE+4ETVYRKGzYRbzTW7jj4ziS109IDYUpeoBJHch3w6aHhZ3du9tj3d9dD/P70SM5nQKap/GKDU/QTwVnmshcLEvMtYQUay5yBywRlLgEMUjLkET41wx9O2tEeYaXOj62ufhcZIDiG+E5beIr6Ruk6TVKq7BKtmsw0jfEjEzc61eAjWxTGO+ITZNJizRgQls9ybf8Tn66hMzV97Sz48uUBQri2s8boIdak9jbYZIKUBpbZFnr74M+P+TiOz9AXY2YA4Rxu08zprhjW+z+GOKWIS82qhHAoZfMWZ/KBhXyzlqSUJzntRS/ds2Ag==&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://unitst.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - oCYCHznAAMDFeSXTkUw4cQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '172'
      SPRequestGuid:
      - 1f0226a0-c039-c000-c579-25d3914c3871
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-MS-SPO-CookieValidator:
      - aPdIMf9/Pkhmv2s9otNIvqUN89VuCzV8mZk/jwn673F2xfWCZp8a9vEcH9YwtTYZ2O0KH5NdemVRpkk39Io0F8Oi8qP7Gy5MEikccJ9Mwr4hs/n/lFbPPEqEqhFyaYgu+dM7TK26NjtHvT9noMNlCxzzfTjCOuRNXwyJvYIMTHfFz6BjKyp2udK86F+/gWiQ+hBWzL+IfBaoIUC826P9oxDjvX+CowjVij24bcayJgwXzDTerTi4S6qTR/3IwqnVPSgAdkE5vNIoP7IRfqP4aSaKz8OOU3BrYWui4fd7JV2+OKDyDyKN6JTqLzKzIK8yG5gn+DCVEj/T5jYKJ7OzpQ==
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/SitePages/HomeRedirect.aspx\">here</a>.</h2>\r\n</body></html>\r\
        \n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/HomeRedirect.aspx
      MS-CV:
      - oCYCH0wwAMDFeSOUl0yiPw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '28'
      SPRequestGuid:
      - 1f0226a0-304c-c000-c579-2394974ca23f
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '3'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/SitePages/HomeRedirect.aspx
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        >\r\n\r\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n\
        <head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"\
        \ /><title>\r\n\tUntitled 1\r\n</title><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=10\" />\r\n<script type=\"text/javascript\">\r\n\tfunction\
        \ RedirectUser() {\r\n\t\twindow.location = \"../_layouts/15/sharepoint.aspx\"\
        ;\r\n\t}\r\n\twindow.load = RedirectUser();\r\n</script>\r\n</head>\r\n\r\n\
        <body>\r\n\r\n<form method=\"post\" action=\"./HomeRedirect.aspx\" id=\"form1\"\
        >\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\" value=\"\
        /wEPDwUBMGRk/KBEorcpGW6V78RED1QaEZvT21rQvPFT7UJPx4797ik=\" />\r\n\r\n<input\
        \ type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"\
        \ value=\"17E22E0C\" />\r\n</form>\r\n\r\n</body>\r\n\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Thu, 03 Mar 2022 04:06:23 GMT
      MS-CV:
      - oCYCH1cQAMDFeSraqjxLsQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '1'
      SPRequestDuration:
      - '74'
      SPRequestGuid:
      - 1f0226a0-1057-c000-c579-2adaaa3c4bb1
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextInfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0xAD7E3D0A0BD9A12686F9963E71515A1F30AA96E8C5312E5976ADF88850D7E539C8FD381F5FB22D13FB4268F21805361896D194C2F7D93D0B4EC1A6FDC43C9726,03
        Mar 2022 04:06:24 -0000","LibraryVersion":"16.0.22216.12005","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Thu, 03 Mar 2022 04:06:24 GMT
      MS-CV:
      - oCYCH3IwAMDn6wqwjF2JEw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPClientServiceRequestDuration:
      - '19'
      SPRequestGuid:
      - 1f0226a0-3072-c000-e7eb-0ab08c5d8913
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"DatesInUtc": true, "AllowIncrementalResults": true, "ViewXml":
      "<View Scope=\"RecursiveAll\"><Query></Query></View>", "__metadata": {"type":
      "SP.CamlQuery"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose
      X-RequestDigest:
      - 0xAD7E3D0A0BD9A12686F9963E71515A1F30AA96E8C5312E5976ADF88850D7E539C8FD381F5FB22D13FB4268F21805361896D194C2F7D93D0B4EC1A6FDC43C9726,03
        Mar 2022 04:06:24 -0000
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/GetItems
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"9d082cd9-d95d-42fd-9bf2-2383c1bfa1ee","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Versions"}},"FileSystemObjectType":0,"Id":1566,"ServerRedirectedEmbedUri":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={e9f7967c-2891-43e5-886d-3e9245761813}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={e9f7967c-2891-43e5-886d-3e9245761813}&action=interactivepreview","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B83500823ADBD7D01E1844B5ED174347AA940A","ComplianceAssetId":null,"Title":"CertifiedDonorStatement_DSINV_SM150124_21082020.pdf","OData__dlc_DocId":"GLBDRP-225645036-1709","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"GLBDRP-225645036-1709","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=GLBDRP-225645036-1709"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":108},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":109}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":110},"ContentStatus":null,"ReportGroup":"Grant","ReportType":"Interim","ReportEndDate":"2020-08-21T04:00:00Z","ReportStatus":"Certified
        by Comptroller","RecipientOffice":"Republic of Cameroon","RecipientOfficeCode":"0690","ReportGeneratedBy":"pbunga","DonorDocument":"Donor
        Statement Innovation","Donor":"European Commission / ECHO","DonorCode":"I49912","DonorReportCategory":"Donor
        Financial Certified","ReportMethod":"Auto","GrantNumber":"SM150124","GrantIssueYear":"2015","GrantExpiryDate":"2015-08-14T04:00:00Z","GrantFinancialClosureDate":"2016-08-14T04:00:00Z","ExternalReference":"ECHO/-CF/EDF/2014/01011","Recertified":"No","Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"MediaServiceLocation":null,"AwardType":null,"CriticalForLongTermRetention":null,"SystemDTAC":null,"OData__ExtendedDescription":null,"MediaServiceImageTags":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ID":1566,"Created":"2020-08-21T17:48:22Z","AuthorId":17,"Modified":"2020-08-24T15:55:28Z","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"6.0","GUID":"791192ef-2f12-4ff1-996c-501453bbc933"},{"__metadata":{"id":"ff58ba37-f360-4d55-bdea-f181797e0b0b","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)/FirstUniqueAncestorSecurable[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/items?$select=*,FileLeafRef
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"76529525-37b8-449a-b1f8-6c31d45f2471","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8[...]
