interactions:
- request:
    body: login=ICTD-SCS-DRP@unitst.onmicrosoft.com&xml=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/GetUserRealm.srf
  response:
    body:
      string: <RealmInfo Success="true"><State>4</State><UserState>1</UserState><Login>ICTD-SCS-DRP@unitst.onmicrosoft.com</Login><NameSpaceType>Managed</NameSpaceType><DomainName>unitst.onmicrosoft.com</DomainName><IsFederatedNS>false</IsFederatedNS><FederationBrandName>United
        Nations Children Fund UNICEF-5202203-UNICEF Test Tenant</FederationBrandName><CloudInstanceName>microsoftonline.com</CloudInstanceName><CloudInstanceIssuerUri>urn:federation:MicrosoftOnline</CloudInstanceIssuerUri></RealmInfo>
    headers:
      Content-Disposition:
      - inline; filename=userrealm.json
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"http://www.w3.org/2005/08/addressing\"
      xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\">\n
      \ <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n
      \   <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n
      \   </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n
      \   <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\">\n
      \     <o:UsernameToken>\n        <o:Username>ICTD-SCS-DRP@unitst.onmicrosoft.com</o:Username>\n
      \       <o:Password>Jojo1013</o:Password>\n      </o:UsernameToken>\n    </o:Security>\n
      \ </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\">\n
      \     <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\">\n
      \       <a:EndpointReference>\n          <a:Address>https://unitst.sharepoint.com</a:Address>\n
      \       </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference
      xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n
      \     <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n
      \     <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n
      \     <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n    </t:RequestSecurityToken>\n
      \ </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2023-12-04T13:36:33.178115Z</wsu:Created><wsu:Expires>2023-12-04T13:41:33.178115Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://unitst.sharepoint.com</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2023-12-04T13:36:31Z</wsu:Created><wsu:Expires>2023-12-04T21:36:31Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwAAA06hBwAU1EFiFzob88onaFY+I6On0nScVqEAAWCe2WMrHBxxvcd+X9Niknns2kOJ027SYHShOwx3Ppm3cK/cRuOkhKrSMZ0A+f5G9L5MZRGcVom54ksBDubxBT7FDsATo9sdWx9BZUM6pgJjzsNSOVorLm4e1hFu8VTCgr7JsDz0aLW5GOQD+zKZlqOUBa66fK5mfzm9srK4otqvkgGkwhZKnnem8tJqurlNSShieHyz8mcQQIrgBE7hJxV9GFAAMPo7SSucRLoOCgavHg2JzUdVy01wR/uRZhfrwee4RpcVtG+3YJM/MzniUXIJmx2PWXQl5z+ngYDpXHKWdCQrVCJSIp9nfn0XwyE+LBmIWClChb3cC6z6toqVVpYDZgAACKQVY1Aa0AM50AFA0p+UGyRZN5YPzha8xmgH/C/4udsswC/JSIR6kuJBNHJU67UwvLjCUBBnm2cOWrgK6jXwOKO4xWfArssetIKKsg4NFGNbQH/SpGM9hBrfwaSZYQZ9/kd7LgmPLcsWsa0eXeOVhp+2TEegx3rd81jXFEHOKnSib5JsZXqkSc0IqGmJiyoLZqIzVBNijb2NXD2d9VIyRpRF6Go7u2JLXZTGp+Nw+vNtYFo77bdZ7oGeI4j1SpEgxP9uNkpqe2brzmnrIBLf+YUyfDCN70RO9QmezKVlU47kQ7t1iQVrZkZh//C9wvMNVF4mzrj0NhkQDMpjzYGXJm04N54sUoBMpn/F4T1PjSHMuAb94f7jXfJmy8/AZBQELU4+QFpWcotb/If+9vDIhfMM10Kfz7ER4ucQ0qdUikmpAL9kTfZPTRFHW343yMmyxUW2B3OKZtjXt2FRsf+EYmqD4FYVyTDFQn0sOnV8mpujOOdws8Bd1pYMwQ32prrykGF/KHNOEssErG4ohShphcv8JSqyhRIhEeMsBCp3bfrEJSbdbOgApcNDL5+Ol7omSM7k2bm3SOSk3JS0YuvMqTM+jF8CXU6YveNqimaYFYAWClulIE/HR1QTwTkC&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="KgX1yobywrhXDLG8OcZycK75ru0="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="KgX1yobywrhXDLG8OcZycK75ru0="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwAAA06hBwAU1EFiFzob88onaFY+I6On0nScVqEAAWCe2WMrHBxxvcd+X9Niknns2kOJ027SYHShOwx3Ppm3cK/cRuOkhKrSMZ0A+f5G9L5MZRGcVom54ksBDubxBT7FDsATo9sdWx9BZUM6pgJjzsNSOVorLm4e1hFu8VTCgr7JsDz0aLW5GOQD+zKZlqOUBa66fK5mfzm9srK4otqvkgGkwhZKnnem8tJqurlNSShieHyz8mcQQIrgBE7hJxV9GFAAMPo7SSucRLoOCgavHg2JzUdVy01wR/uRZhfrwee4RpcVtG+3YJM/MzniUXIJmx2PWXQl5z+ngYDpXHKWdCQrVCJSIp9nfn0XwyE+LBmIWClChb3cC6z6toqVVpYDZgAACKQVY1Aa0AM50AFA0p+UGyRZN5YPzha8xmgH/C/4udsswC/JSIR6kuJBNHJU67UwvLjCUBBnm2cOWrgK6jXwOKO4xWfArssetIKKsg4NFGNbQH/SpGM9hBrfwaSZYQZ9/kd7LgmPLcsWsa0eXeOVhp+2TEegx3rd81jXFEHOKnSib5JsZXqkSc0IqGmJiyoLZqIzVBNijb2NXD2d9VIyRpRF6Go7u2JLXZTGp+Nw+vNtYFo77bdZ7oGeI4j1SpEgxP9uNkpqe2brzmnrIBLf+YUyfDCN70RO9QmezKVlU47kQ7t1iQVrZkZh//C9wvMNVF4mzrj0NhkQDMpjzYGXJm04N54sUoBMpn/F4T1PjSHMuAb94f7jXfJmy8/AZBQELU4+QFpWcotb/If+9vDIhfMM10Kfz7ER4ucQ0qdUikmpAL9kTfZPTRFHW343yMmyxUW2B3OKZtjXt2FRsf+EYmqD4FYVyTDFQn0sOnV8mpujOOdws8Bd1pYMwQ32prrykGF/KHNOEssErG4ohShphcv8JSqyhRIhEeMsBCp3bfrEJSbdbOgApcNDL5+Ol7omSM7k2bm3SOSk3JS0YuvMqTM+jF8CXU6YveNqimaYFYAWClulIE/HR1QTwTkC&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://unitst.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - oPRzhQjwAECMB1qAc5V7sg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.24322
      SPIisLatency:
      - '1'
      SPRequestDuration:
      - '213'
      SPRequestGuid:
      - 8573f4a0-f008-4000-8c07-5a8073957bb2
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,525568,0,0,20293,0,60383
      X-SharePointHealthScore:
      - '1'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"/SitePages/HomeRedirect.aspx\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/HomeRedirect.aspx
      MS-CV:
      - oPRzhTJwAEB/g0mIE7IiVA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.24322
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '28'
      SPRequestGuid:
      - 8573f4a0-7032-4000-7f83-498813b22254
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,525568,0,0,89745,0,27098
      X-SharePointHealthScore:
      - '0'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/SitePages/HomeRedirect.aspx
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n\r\n<html
        dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n<head><meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" /><title>\r\n\tUntitled 1\r\n</title><meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=10\" />\r\n<script type=\"text/javascript\">\r\n\tfunction
        RedirectUser() {\r\n\t\twindow.location = \"../_layouts/15/sharepoint.aspx\";\r\n\t}\r\n\twindow.load
        = RedirectUser();\r\n</script>\r\n</head>\r\n\r\n<body>\r\n\r\n<form method=\"post\"
        action=\"./HomeRedirect.aspx\" id=\"form1\">\r\n<input type=\"hidden\" name=\"__VIEWSTATE\"
        id=\"__VIEWSTATE\" value=\"/wEPDwUBMGRkydzd0JCAbxc8b/eYt7A27XOiPUjDoydOeF16DvwTaoU=\"
        />\r\n\r\n<input type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"
        value=\"17E22E0C\" />\r\n</form>\r\n\r\n</body>\r\n\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Mon, 04 Dec 2023 13:36:34 GMT
      MS-CV:
      - oPRzhUsAAECMB1I8m5+toQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.24322
      SPIisLatency:
      - '1'
      SPRequestDuration:
      - '264'
      SPRequestGuid:
      - 8573f4a0-004b-4000-8c07-523c9b9fada1
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,525568,0,0,178041,0,82582
      X-SharePointHealthScore:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextInfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0x0F190B24B0D12DA73B8EA14E735CF4FD7C4E084E6F961338EA688FB99A1723BAEF1D65C43D9DECD74E15E0B0984B05970771651D8586FB52C4B17FA2D1D3FFC7,04
        Dec 2023 13:36:35 -0000","LibraryVersion":"16.0.24322.12003","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Mon, 04 Dec 2023 13:36:35 GMT
      MS-CV:
      - oPRzhZHQAEB/g09yhkA8Kg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.24322
      SPClientServiceRequestDuration:
      - '14'
      SPRequestDuration:
      - '15'
      SPRequestGuid:
      - 8573f4a0-d091-4000-7f83-4f7286403c2a
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,525568,0,0,446,0,24210
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"DatesInUtc": true, "AllowIncrementalResults": true, "ViewXml":
      "<View Scope=\"RecursiveAll\"><Query></Query></View>", "__metadata": {"type":
      "SP.CamlQuery"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose
      X-RequestDigest:
      - 0x0F190B24B0D12DA73B8EA14E735CF4FD7C4E084E6F961338EA688FB99A1723BAEF1D65C43D9DECD74E15E0B0984B05970771651D8586FB52C4B17FA2D1D3FFC7,04
        Dec 2023 13:36:35 -0000
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/GetItems
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"55ec35be-13d5-4f64-8fb1-cc199f532f03","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Versions"}},"FileSystemObjectType":0,"Id":1566,"ServerRedirectedEmbedUri":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/Embed.aspx?UniqueId=e9f7967c-2891-43e5-886d-3e9245761813","ServerRedirectedEmbedUrl":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/Embed.aspx?UniqueId=e9f7967c-2891-43e5-886d-3e9245761813","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B83500823ADBD7D01E1844B5ED174347AA940A","ComplianceAssetId":null,"Title":"CertifiedDonorStatement_DSINV_SM150124_21082020.pdf","OData__dlc_DocId":"GLBDRP-225645036-1709","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"GLBDRP-225645036-1709","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=GLBDRP-225645036-1709"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":108},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":109}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":110},"ContentStatus":null,"ReportGroup":"Grant","ReportType":"Interim","ReportEndDate":"2020-08-21T04:00:00Z","ReportStatus":"Certified
        by Comptroller","RecipientOffice":"Republic of Cameroon","RecipientOfficeCode":"0690","ReportGeneratedBy":"pbunga","DonorDocument":"Donor
        Statement Innovation","Donor":"European Commission / ECHO","DonorCode":"I49912","DonorReportCategory":"Donor
        Financial Certified","ReportMethod":"Auto","GrantNumber":"SM150124","GrantIssueYear":"2015","GrantExpiryDate":"2015-08-14T04:00:00Z","GrantFinancialClosureDate":"2016-08-14T04:00:00Z","ExternalReference":"ECHO/-CF/EDF/2014/01011","Recertified":"No","Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"MediaServiceLocation":null,"AwardType":null,"CriticalForLongTermRetention":null,"SystemDTAC":null,"MediaServiceImageTags":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"OData__ColorTag":null,"ID":1566,"Created":"2020-08-21T17:48:22Z","AuthorId":17,"Modified":"2020-08-24T15:55:28Z","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"6.0","GUID":"791192ef-2f12-4ff1-996c-501453bbc933"},{"__metadata":{"id":"0c2b5856-abc2-41e9-903d-6c92cb409501","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)/FirstUniqueAncestorSecurable[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/items?$select=*,FileLeafRef
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"4812845b-43b5-4b59-b093-a0423fa45108","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8[...]
