interactions:
- request:
    body: login=ICTD-SCS-DRP@unitst.onmicrosoft.com&xml=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/GetUserRealm.srf
  response:
    body:
      string: <RealmInfo Success="true"><State>4</State><UserState>1</UserState><Login>ICTD-SCS-DRP@unitst.onmicrosoft.com</Login><NameSpaceType>Managed</NameSpaceType><DomainName>unitst.onmicrosoft.com</DomainName><IsFederatedNS>false</IsFederatedNS><FederationBrandName>United
        Nations Children Fund UNICEF-5202203-UNICEF Test Tenant</FederationBrandName><CloudInstanceName>microsoftonline.com</CloudInstanceName><CloudInstanceIssuerUri>urn:federation:MicrosoftOnline</CloudInstanceIssuerUri></RealmInfo>
    headers:
      Content-Disposition:
      - inline; filename=userrealm.json
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
      http://www.w3.org/2005/08/addressing\" xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
      >\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n\
      \    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n\
      \    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n\
      \    <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <o:UsernameToken>\n        <o:Username>ICTD-SCS-DRP@unitst.onmicrosoft.com</o:Username>\n\
      \        <o:Password>Jojo1013</o:Password>\n      </o:UsernameToken>\n    </o:Security>\n\
      \  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\"\
      >\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\
      >\n        <a:EndpointReference>\n          <a:Address>https://unitst.sharepoint.com</a:Address>\n\
      \        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference\
      \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n\
      \      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n\
      \      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n\
      \      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n  \
      \  </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2022-03-03T01:50:48.7981105Z</wsu:Created><wsu:Expires>2022-03-03T01:55:48.7981105Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://unitst.sharepoint.com</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2022-03-03T01:50:48Z</wsu:Created><wsu:Expires>2022-03-03T09:50:48Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAAWaNLg4DaZigh3603a4Nl2zeyZbpeHZSTX2Ikl2T/dIP/79ArJvVFM0Yk7/oPcTQrhRjybXAdQbl9eLVLvWEjupjcDQ82X4WjkckrVuBBS4SR3IK/6pjgYByHSLCog/F7eREMg4I3raL1BH7moLunwsS0Lq4N1TFVS2ZubyvC9MXOlC+2CJpEOhWngkuN8HO0YuvBZI89WLCKny9KWLAZIeY2W5O1lLx3KSz3Gzo62aOaCoXwRzMNHPLQnDdJpBuROXH6Sby1/rRKTVIzsfDFUVGEYwBUD4Myner+DUAff3GnuGJR8t0seYBIQcTEYjErLMhY4ZWmxJqCqGCKq0PSocDZgAACBog3Pb/IIq3yAGL+ItGS5xQ3aTTe5T2Jn9X2gwy1LO7eB7Ykeby1RfzkseJ67uQ0shgniQNCD1lh1rllqvQhjO4XNdP7shuDQeCzVORT3D7N6NmVZh2VIqWpxJlozo9E5uZ17iYPnRoDI7ORynLkZ4ggKrSsk1Ek4F7XYtzx6KQVCjlN+JwmuSDBr1NR4IolyMYqxvQDtEq61959M/fATkF3ijXwCbyFJbXcZE8WJtUmQK1JMr8BzPKb08+xb/WGBpxOsKz1L0U+yolh4NlifR6ZFP7KghbeeK60eWOawuvUvQT8cd5YKZHf8AMA3sjIEoSjRH3L+BttluLHDF1iawjchep7rCr4gXqtfiovhSTr2SWD3W4hKxuPWU/76Ooq4m77l8j2w67CIQ09uOnqUw8UxoYLpjblM3uOx6Kl6cbJW7Z3xaJTOUfa5YmVuKhtP5UrfP1HOSNjZcho0UBn84BhY2nx8ZpQuVVPAk+V5P3M6gIE155G6CFUfXnHNZngSfWBTfhwIwGUOE34eP917uKw24ApEPHpqvJQoMgirXgstgPqamp1TtCy0xcNvB3h6JM1eYS0nSGiVO21NOymrVMQcJ6mC+WwpKygKMLr4ko+0U2Ag==&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="TJcv/OqXUgB85CpJHfu+7oyOKaY="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="TJcv/OqXUgB85CpJHfu+7oyOKaY="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwD4Ak6hBwAUxC4Ij661LFHA0Od8xLyXduL8w5MAAWaNLg4DaZigh3603a4Nl2zeyZbpeHZSTX2Ikl2T/dIP/79ArJvVFM0Yk7/oPcTQrhRjybXAdQbl9eLVLvWEjupjcDQ82X4WjkckrVuBBS4SR3IK/6pjgYByHSLCog/F7eREMg4I3raL1BH7moLunwsS0Lq4N1TFVS2ZubyvC9MXOlC+2CJpEOhWngkuN8HO0YuvBZI89WLCKny9KWLAZIeY2W5O1lLx3KSz3Gzo62aOaCoXwRzMNHPLQnDdJpBuROXH6Sby1/rRKTVIzsfDFUVGEYwBUD4Myner+DUAff3GnuGJR8t0seYBIQcTEYjErLMhY4ZWmxJqCqGCKq0PSocDZgAACBog3Pb/IIq3yAGL+ItGS5xQ3aTTe5T2Jn9X2gwy1LO7eB7Ykeby1RfzkseJ67uQ0shgniQNCD1lh1rllqvQhjO4XNdP7shuDQeCzVORT3D7N6NmVZh2VIqWpxJlozo9E5uZ17iYPnRoDI7ORynLkZ4ggKrSsk1Ek4F7XYtzx6KQVCjlN+JwmuSDBr1NR4IolyMYqxvQDtEq61959M/fATkF3ijXwCbyFJbXcZE8WJtUmQK1JMr8BzPKb08+xb/WGBpxOsKz1L0U+yolh4NlifR6ZFP7KghbeeK60eWOawuvUvQT8cd5YKZHf8AMA3sjIEoSjRH3L+BttluLHDF1iawjchep7rCr4gXqtfiovhSTr2SWD3W4hKxuPWU/76Ooq4m77l8j2w67CIQ09uOnqUw8UxoYLpjblM3uOx6Kl6cbJW7Z3xaJTOUfa5YmVuKhtP5UrfP1HOSNjZcho0UBn84BhY2nx8ZpQuVVPAk+V5P3M6gIE155G6CFUfXnHNZngSfWBTfhwIwGUOE34eP917uKw24ApEPHpqvJQoMgirXgstgPqamp1TtCy0xcNvB3h6JM1eYS0nSGiVO21NOymrVMQcJ6mC+WwpKygKMLr4ko+0U2Ag==&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://unitst.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - oCX6XVCQAMDdyzltvLY2YA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '164'
      SPRequestGuid:
      - 5dfa25a0-9050-c000-ddcb-396dbcb63660
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-MS-SPO-CookieValidator:
      - ab8SVVJqwIOlwEkbgekJkcjWzZin1Vq/AYS9itngrC4wTYCkC6t0XdioKyFhJHYfq0VYalsZvR3VdOqR1gCszsLnUChHHSSHKmu5pYn8sbCxi21+oXSuKCvC/bvyHiDeAXyoshe6Q4QuXu3S8T3ExlAr+hvgd+/1NVgGQmEJi1aH4AzGGRdd76JZXX4Lt/akfP5HlNEIXnws20ByZc0vBabUisiqOUggXyBci+qQR1PopX/O6F+2BGAj3ZEdHbiupuDiQof9K3qhs6we0ZRI3bFxoroZ1xAt4lD3Z/Se+/J6GauDJK/y+6M5g4ArNAD/jH2sXxlWvjhOzW5fKf54nA==
      X-SharePointHealthScore:
      - '3'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/SitePages/HomeRedirect.aspx\">here</a>.</h2>\r\n</body></html>\r\
        \n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/HomeRedirect.aspx
      MS-CV:
      - oCX6XWHgAMDn6wk/vN9mcA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '22'
      SPRequestGuid:
      - 5dfa25a0-e061-c000-e7eb-093fbcdf6670
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://unitst.sharepoint.com/SitePages/HomeRedirect.aspx
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        >\r\n\r\n<html dir=\"ltr\" xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n\
        <head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"\
        \ /><title>\r\n\tUntitled 1\r\n</title><meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=10\" />\r\n<script type=\"text/javascript\">\r\n\tfunction\
        \ RedirectUser() {\r\n\t\twindow.location = \"../_layouts/15/sharepoint.aspx\"\
        ;\r\n\t}\r\n\twindow.load = RedirectUser();\r\n</script>\r\n</head>\r\n\r\n\
        <body>\r\n\r\n<form method=\"post\" action=\"./HomeRedirect.aspx\" id=\"form1\"\
        >\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\" value=\"\
        /wEPDwUBMGRk/KBEorcpGW6V78RED1QaEZvT21rQvPFT7UJPx4797ik=\" />\r\n\r\n<input\
        \ type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"\
        \ value=\"17E22E0C\" />\r\n</form>\r\n\r\n</body>\r\n\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Thu, 03 Mar 2022 01:50:49 GMT
      MS-CV:
      - oCX6XWvgAMDdyzYSocsYuA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPIisLatency:
      - '1'
      SPRequestDuration:
      - '73'
      SPRequestGuid:
      - 5dfa25a0-e06b-c000-ddcb-3612a1cb18b8
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextInfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0x6B5F6991A1BAE1D768236D577471D1A4AD305E84AEEF8BB445F9F5D9A80A362DC9A03D30482891FF8930B9AD562DB819B423E312C21EE7059719AE11F30C085E,03
        Mar 2022 01:50:49 -0000","LibraryVersion":"16.0.22216.12005","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Thu, 03 Mar 2022 01:50:49 GMT
      MS-CV:
      - oCX6XYKwAMCry9CLs+sOQQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.22216
      SPClientServiceRequestDuration:
      - '12'
      SPRequestGuid:
      - 5dfa25a0-b082-c000-abcb-d08bb3eb0e41
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"DatesInUtc": true, "AllowIncrementalResults": true, "ViewXml":
      "<View><Query><Where></Where></Query></View>", "__metadata": {"type": "SP.CamlQuery"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose
      X-RequestDigest:
      - 0x6B5F6991A1BAE1D768236D577471D1A4AD305E84AEEF8BB445F9F5D9A80A362DC9A03D30482891FF8930B9AD562DB819B423E312C21EE7059719AE11F30C085E,03
        Mar 2022 01:50:49 -0000
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/GetItems
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"9757d5ca-ccfa-4bf3-83d7-24b36f514d74","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Versions"}},"FileSystemObjectType":0,"Id":1566,"ServerRedirectedEmbedUri":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={e9f7967c-2891-43e5-886d-3e9245761813}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={e9f7967c-2891-43e5-886d-3e9245761813}&action=interactivepreview","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B83500823ADBD7D01E1844B5ED174347AA940A","ComplianceAssetId":null,"Title":"CertifiedDonorStatement_DSINV_SM150124_21082020.pdf","OData__dlc_DocId":"GLBDRP-225645036-1709","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"GLBDRP-225645036-1709","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=GLBDRP-225645036-1709"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":108},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":109}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":110},"ContentStatus":null,"ReportGroup":"Grant","ReportType":"Interim","ReportEndDate":"2020-08-21T04:00:00Z","ReportStatus":"Certified
        by Comptroller","RecipientOffice":"Republic of Cameroon","RecipientOfficeCode":"0690","ReportGeneratedBy":"pbunga","DonorDocument":"Donor
        Statement Innovation","Donor":"European Commission / ECHO","DonorCode":"I49912","DonorReportCategory":"Donor
        Financial Certified","ReportMethod":"Auto","GrantNumber":"SM150124","GrantIssueYear":"2015","GrantExpiryDate":"2015-08-14T04:00:00Z","GrantFinancialClosureDate":"2016-08-14T04:00:00Z","ExternalReference":"ECHO/-CF/EDF/2014/01011","Recertified":"No","Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"MediaServiceLocation":null,"AwardType":null,"CriticalForLongTermRetention":null,"SystemDTAC":null,"OData__ExtendedDescription":null,"MediaServiceImageTags":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ID":1566,"Created":"2020-08-21T17:48:22Z","AuthorId":17,"Modified":"2020-08-24T15:55:28Z","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"6.0","GUID":"791192ef-2f12-4ff1-996c-501453bbc933"},{"__metadata":{"id":"866bd302-7253-447b-abbf-dbc9233e32c3","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)/FirstUniqueAncestorSecurable[...]
