interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextinfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1799,"FormDigestValue":"0x0C98B90DF4A07F96305CAF7117F663B66FF125F0888FC43948B40FF1355E691838BA3ACD08A362996E5CA5D9CB2A8F20C44B275B1EA9BCE767C33FB221E47495,04
        Aug 2020 20:40:17 -0000","LibraryVersion":"16.0.20315.12009","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 04 Aug 2020 20:40:17 GMT
      MS-CV:
      - n2zWDj5AALBgxs/9mVomnA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.20315
      SPClientServiceRequestDuration:
      - '10'
      SPRequestGuid:
      - 0ed66c9f-403e-b000-60c6-cffd995a269c
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"ViewXml": "<View><Query><Where></Where></Query></View>", "__metadata":
      {"type": "SP.CamlQuery"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose
      X-RequestDigest:
      - 0x0C98B90DF4A07F96305CAF7117F663B66FF125F0888FC43948B40FF1355E691838BA3ACD08A362996E5CA5D9CB2A8F20C44B275B1EA9BCE767C33FB221E47495,04
        Aug 2020 20:40:17 -0000
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/GetItems
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"d8583496-f2b1-4bef-896e-e37b5784caf9","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)","etag":"\"78\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(2)/Versions"}},"FileSystemObjectType":0,"Id":2,"ServerRedirectedEmbedUri":null,"ServerRedirectedEmbedUrl":"","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B835004D0BA03A5BF97C45BAC5637C564A2425","ComplianceAssetId":null,"Title":null,"OData__dlc_DocId":"6DN2ZNMQ52YP-441505184-2","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"6DN2ZNMQ52YP-441505184-2","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=6DN2ZNMQ52YP-441505184-2"},"DocumentType":null,"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":null,"CategoryDescription":null,"OfficeDivision":null,"ContentStatus":null,"ReportGroup":null,"ReportType":null,"ReportEndDate":null,"ReportStatus":null,"RecipientOffice":null,"RecipientOfficeCode":null,"ReportGeneratedBy":null,"DonorDocument":null,"Donor":null,"DonorCode":null,"DonorReportCategory":null,"ReportMethod":null,"GrantNumber":null,"GrantIssueYear":null,"GrantExpiryDate":null,"GrantFinancialClosureDate":null,"ExternalReference":null,"Recertified":null,"Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"ID":2,"Created":"2020-01-27T09:10:23","AuthorId":17,"Modified":"2020-01-30T02:40:06","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"78.0","GUID":"35ae45c5-89f4-47c2-a4eb-080ba51bf0db"},{"__metadata":{"id":"9a5469ab-b511-4bb4-95ea-9a53cffe1f28","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(3)","etag":"\"3\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(3)/FirstUniqueAncestorSecurableObject[...]
